# number of leds in the x direction
NUM_LEDS_X=
# number of leds in the y direction
NUM_LEDS_Y=
# time between frames
REFRESH_TIME_IN_MS=
# WLED ip
WLED_IP=
# WLED port
WLED_PORT=
# interpolate steps between 2 screenshots
INTERPOLATE_STEPS=